header a{
    font-family: 'Righteous', cursive;
    font-size: 100px;
    list-style: none;
    text-decoration: none;
    color:black

    .tracking-in-contract {
        -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                text-align: $centrado;
    }
    
}

