main{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, $color-principal, rgb(209, 209, 149)); 
    height: 49rem;

    &.border{
        padding-right: 0px;
        padding-right: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        @include tamanio (422px, 884px)
    }

    &.doblefaz{
        display: flex;
        justify-content: $centrado;
        align-items: $centrado;
        
        
    }
    
    &.textoinicio{
        padding: $alturafuente - 20px;
        text-align: $centrado;
        font-size: $alturafuente;
        font-family: 'Shippori Antique B1', sans-serif;
        
    }
   
    &.texto{
        padding: $alturafuente - 20px;
        text-align: map-get($estilos, centrado);
        font-size: $alturafuente - 5px;
        font-family: 'Shippori Antique B1', sans-serif; 
    }
    &.impresionesblancoynegro{
        font-family: 'Righteous', cursive;
        font-size: $alturafuente
    }
    hr{
        height: 100px;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(172,172,172,1) 31%, rgba(203,204,203,1) 56%, rgba(255,255,255,1) 82%);  
       
    }
    &.derecha{
        text-align: $derecha;
    }
    &.subi{
        display: block;
    }
    &.formulario{
        padding-top: 12rem;
        padding-bottom: 10rem;
        padding-left: 35rem;
        padding-right: 35rem;
    }
    .murata{
        text-align: $centrado;
        font-size: $alturafuente - 5px;
    }
}

/*Map aplicado en .texto*/
/*@mixin aplicado en .border*/