nav{
    background: $color-principal;
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(208,255,152,1) 41%, rgba(206,228,87,1) 67%);

    &.redes{
        display: flex;
        justify-content: flex-end;
        font-family: 'Shippori Antique B1', sans-serif;
        color: blue;
        font-size: 12px; 
        text-decoration: none;
        list-style: none;
        
    }    
    &.redes p{
        display: flex;
        padding: 8px 20px
    }
    &.menu{
        @extend .redes;
        justify-content: $centrado;
        padding: 2px;
        margin: 4px;
        font-size: 20px;
        
    }
    &.menu a{
        color: black;
        padding: 10px;
        list-style: none;
        text-decoration: none;
    
    }
}

/*Aplicado @extend em .menu*/