*{
    margin: 0;
    padding: 0;
    
    
}
header a{
    font-family: 'Righteous', cursive;
    font-size: 100px;
    list-style: none;
    text-decoration: none;
    color:black;
    height: 100%;
}
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            text-align: center;
}

nav{
    background: rgb(252,12,12);
    background: linear-gradient(45deg, rgba(252,12,12,1) 0%, rgba(242,0,0,1) 100%, rgba(255,255,255,1) 100%);
    height: 5rem;
}
.container{
    padding-top: 5rem;
}
main{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(254,255,223,1) 99%);
    height: 100%;
    justify-content: center;
    align-items: center;
} 
.border-start{
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    align-items: center;
}
.cuaderno{
    height: 80%;
    width: 70%;
    
}
.containtercontactanos{
    padding-top: 12rem;
    padding-bottom: 10rem;
    padding-left: 35rem;
    padding-right: 35rem
}
.container-zonas{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.redes{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 2rem;
    
}    
.asd{
    display: flex;
    padding: 8px 20px;
    height: 3rem;
    width: 3rem;
    
}
.menu{
    display: flex;
    justify-content: center;
    padding-top:  25px;
    margin: 4px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
    text-decoration: none;

   
    
    
    
}
.menu a{
    color: white;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    

}
.border img{
    width: 300;
    display: block;
    margin: 0 auto;
    border: 2px solid black
}
.border{
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 422px;
    height: 884px;
}
.doblefaz{
    display: flex;
    justify-content: center;
    align-items: center;
}
.canalesdecompra{
    display: grid;
    grid-template-columns: 15rem 15rem;
    column-gap: 1rem;
    row-gap: 1rem;
}
footer{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 13px;
    font-family: 'Shippori Antique B1', sans-serif; 
    background: white;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    
    
}
.leyenda{
    text-align: center;
}
.textoinicio{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Shippori Antique B1', sans-serif;
}
.texto{
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Shippori Antique B1', sans-serif; 
}
.impresionesblancoynegro{
    font-family: 'Righteous', cursive;
    font-size: 40px;
}
hr{
    height: 100px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(172,172,172,1) 31%, rgba(203,204,203,1) 56%, rgba(255,255,255,1) 82%);  
   
}
.derecha{
    text-align: right;
}

.container-escuela{
    display: grid;
    grid-template-columns: 15% 85%;
    justify-content: center;
    align-items: center;
}
.texto-contact{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Shippori Antique B1', sans-serif;
}
.box-contact{
    text-align: center;
}

.formulario{
    padding-top: 8rem;
    width: 100%
}

.murata{
    text-align: center;
    font-size: 35px;
}
/*CONDICIONALES MEDIAS QUERIES*/
@media screen and (max-width: 550px) {
    nav{
        height: 12rem;
    }
}
@media screen and (min-width:771px) {
    .container{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;

    }
}

@media screen and (max-width: 550px) {
    .menu{
        display: block;
        text-align: center;
        
    }
}

@media screen and (max-width: 550px) {
    .columns{
        display: block;
        text-align: center;
    }
}



@-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
} 